.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.xLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-right: 100px; */
}

.h1 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-size: 68px;
  font-weight: 700;
  white-space: nowrap;
}

.h2 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  background-color: var(--white-text);
  border: 1px solid var(--grey);
  padding-right: 10px;
  margin: 5px;
  border-radius: 50px 50px;
  color: var(--black-text);
}

.imageGoogle {
  margin-right: 10px;
}

.imageApple {
  margin-right: 5px;
}

.googleText {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 13px;
}

.appleText {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.or {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin: 5px;
}

.agreement {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--dark-grey);
  margin: 5px;
}

.h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 52px 0 10px; 
}

.policy {
  text-decoration: none;
  color: var(--blue);
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .xLogo {
    width: 50%;
  }
}

@media only screen and (max-width: 414px) {

}